
.delivery_form_header
{
	position: absolute;
	display: block; margin: auto;
	top: 235px; left: 625px;
}

.name_delivery
{
	position: absolute;
	top: 335px; left: 140px;
}

.email_section_delivery
{
	position: absolute;
	top: 387px; left: 135px;
}

.phone_num_delivery
{
	position: absolute;
	top: 442px; left: 82px;
}

.address_delivery
{
	position: absolute;
	top: 492px; left: 126px;
}

.name_delivery input, .email_section_delivery input, .phone_num_delivery input, .address_delivery input
{
	width: 300px;
	height: 25px;
}

.description_header_delivery
{
	position: absolute;
	top: 280px; left: 955px;
}

.description_delivery
{
	position: absolute;
	top: 325px; left: 787px;
}

.description_delivery textarea
{
	width: 450px;
	height: 250px;
}

.submit_button_delivery
{
	position: absolute;
	top: 595px; left: 989.5px;
}

.success_delivery
{
	position: absolute;
	top: 640px; left: 878px;
	color: #ff9969;
	font-weight: bold;
	font-size: 14px;
}

.error_delivery
{
	color: red;
}



@media screen and (max-width: 915px)
{

	.delivery_form_header
	{
		left: 238.5px; top: 255px;
	}

	.name_delivery
	{
		left: 190px;
	}

	.email_section_delivery
	{
		left: 185px;
	}

	.phone_num_delivery
	{
		left: 132.75px;
	}

	.address_delivery
	{
		left: 177px;
	}

	.name_delivery input, .email_section_delivery input, .phone_num_delivery input, .address_delivery input
	{
		width: 150px;
		height: 20px;
	}

	.description_header_delivery
	{
		top: 522.5px; left: 254px;
	}

	.description_delivery
	{
		top: 567.5px; left: 183px;
	}

	.description_delivery textarea
	{
		width: 250px;
		height: 95px;
	}

	.submit_button_delivery
	{
		top: 672.5px; left: 283px;
	}

	.success_delivery
	{
		top: 710px; left: 182px;
		white-space: nowrap;
	}

}

