
#snackHeader{
	position: relative;
	margin: 0 auto;
	left: -325px;
}

#bakery_back_button, #condiments_back_button, #frozen_food_back_button, #seafood_back_button, 
#snack_back_button, #supplies_back_button, #fresh_vegetables_back_button
{
	position: absolute;
	top: 25px; left: -720px;
	background-color: black;
	display: block;
}

#snackHeader h1{
	border: 2px solid red;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.item{
	padding-top: 30px;
	left: -380px;
	padding-bottom: 30px;
	position: relative;	
}

table img{
	border-radius: 50%;
	border: 1px solid black;
	height: 100px;
	width: 100px;
	position: relative;
}

.left{
	left: -200px;
}

.right{
	left: 200px;
}

table{
	float: left; 
	position: relative;
	margin-left: 50px;
}

td b{
	font-size: 1.5em;
}

td{
	text-align: center;
}

tr{
	line-height: 50px;
}
.itemRow{
	display: inline-block;
	padding-left: 40px;
}